<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.tailwindcss.com"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-start">
    <div th:replace="components/navbar :: navbar"></div>
    <div th:replace="components/breadcrumb :: breadcrumb(${rutas})"></div>


    <main class="flex flex-col items-center justify-center flex-1">
        <h1 th:text="'Hello, Thymeleaf!'" class="text-4xl font-bold text-gray-800 mb-4">Hello</h1>
    </main>
</body>

</html>