<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.tailwindcss.com"></script>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
</head>

<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-start">
    <div th:replace="components/navbar :: navbar"></div>
    <div th:replace="components/breadcrumb :: breadcrumb(${rutas})"></div>
    <h2>Quienes somos</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempora quae totam, expedita repellat est! Ut
    praesentium reprehenderit nemo labore beatae, neque illo quas fuga rem quo qui repellat nihil?
</body>

</html>