<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.tailwindcss.com"></script>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segunda vista</title>
</head>

<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-start">
    <div th:replace="components/navbar :: navbar"></div>
    <div th:replace="components/breadcrumb :: breadcrumb(${rutas})"></div>

    <h1 th:text="'This is the second Thymeleaf page!'">This is the second page</h1>

</body>

</html>
<style>
    h1 {
        color: blue;
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 50px;
    }
</style>